@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=BhuTuka+Expanded+One&display=swap');
body{
    background-color: cornflowerblue;
    font-family: 'Rubik Marker Hatch', cursive;
}

.card{
    background-color: teal;
}
