body{
    background-color:cornflowerblue;
}

.card-body{
    height: 502px;
    background-color: #226b5e;
    font-family: 'Rubik Marker Hatch', cursive;
}
a{
    color: white;
    margin-left: 5px;
}